<div align="center"><h1>Gaming News</h1></div>


<div align="right">
<%= form_tag(search_path, method: "GET") do %>
<%= submit_tag("Search") %>
<%= text_field_tag(:search) %>
<% end %></div>
<hr style="height:5px; visibility:hidden;" />
<br>

<div id="articles">
  <%= render @articles %>
</div>

<br />

<%= link_to 'New Post', new_article_path %>
